:host {
  display: block;
  height: 100%;
}

.root-feature-a__container {
  display: flex;
  gap: 15px;
  width: 100%;

  ::ng-deep {
    [aside] {
      flex: 1 0 200px;
    }

    [content] {
      flex: 1 1 100%;
    }
  }
}
